/* NoEncontrado.css */

.error-container {
    text-align: center;
    margin-top: 100px;
    color: #2f1f1f;
    background-color: #ffffff;
  }
  
  .error-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .error-message {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .error-submessage {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .error-code {
    margin-top: 100px;
    font-size: 3em;
    color: #ea1010;
  }

  h5{
    text-align: center;
    margin-top: 100px;
  }
