.navbar {
    width: 100%;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
  }
  
  .logo {
    width: 10rem; /* Ajusta el ancho según tu preferencia */
    height: auto; /* Mantén la proporción de aspecto */
    margin-right: 48rem; /* Espacio a la derecha del logo para separarlo de los enlaces */
  }